SEC_TOOL_NAME=DEPENDENCY_CHECK
JOB_NAME=dependency_check
IMAGE=owasp/dependency-check-action
BIN="/usr/share/dependency-check/bin/dependency-check.sh"
EXTRA_ARGS="--disableCentral"
FORMAT_ARGS="-f XML"
EXCLUDE="**/*.zip"
FORMAT=xml
PATH_TO_SCAN="."
SCAN_TYPE="Dependency Check Scan"
ENABLED_SEC_TOOL=false
PROJECT_NAME="webgoat"
SCRIPT='$BIN --project $PROJECT_NAME --scan $PATH_TO_SCAN --out REPORTS_DIR/$JOB_NAME.$FORMAT --exclude $EXCLUDE $EXTRA_ARGS --format XML'
