SEC_TOOL_NAME=GITLEAKS
JOB_NAME=gitleaks
IMAGE=zricethezav/gitleaks:latest
COMMAND="dir . --report-format json -v -l trace --verbose --report-path"
BIN=/usr/bin/gitleaks
EXTRA_ARGS="--exit-code 0"
SCAN_TYPE="Gitleaks Scan"
ENABLED_SEC_TOOL=true
FORMAT=json
SCRIPT='$BIN $COMMAND $FORMAT --report-path REPORTS_DIR/$JOB_NAME.$FORMAT $EXTRA_ARGS'
