NODE_ENABLE_TOOL=false
MAVEN_ENABLE_TOOL=true
NODE_CONTINUE_ON_ERROR=false
MAVEN_CONTINUE_ON_ERROR=true
MAVEN_IMAGE=rubpasrod/maven-no-root:latest
NODE_IMAGE="node:20-bookworm"
BASE_URL="https://defectdojo.appsec-yggdrasil.com/"
ENGAGEMENT_NAME=WebGoat-GitHub
BUILD_ENABLED=true
TEST_ENABLED=true
DEPLOY_ENABLED=true
RELEASE_ENABLED=true
ALL_IN_ONE_UPLOAD=false

