SEC_TOOL_NAME=SEMGREP
JOB_NAME=semgrep
IMAGE=semgrep/semgrep:1.75.0
BIN=/usr/local/bin/semgrep
EXTRA_ARGS=""
PATH_TO_SCAN=.
COMMAND="scan --config=auto --json --no-error"
SCAN_TYPE="Semgrep JSON Report"
ENABLED_SEC_TOOL=false
FORMAT=json
SCRIPT='$BIN $COMMAND $EXTRA_ARGS $PATH_TO_SCAN > REPORTS_DIR/$JOB_NAME.$FORMAT'
