SEC_TOOL_NAME=TRIVY
JOB_NAME=trivy
IMAGE=aquasec/trivy:canary
DOCKER_IMAGE="docker-image"
COMMAND="image"
BIN=trivy
EXTRA_ARGS="--format json --scanners vuln --skip-version-check"
SCAN_TYPE="Trivy Scan"
FORMAT=json
TAG=""
ENABLED_SEC_TOOL=true
SCRIPT='$BIN $COMMAND $DOCKER_IMAGE:$TAG $EXTRA_ARGS > REPORTS_DIR/$JOB_NAME.$FORMAT'
