SEC_TOOL_NAME=ZAP
JOB_NAME=zap
IMAGE="zaproxy/zap-stable"
ENABLED_SEC_TOOL=false
BIN=/zap/zap-baseline.py
PORT="-P 8085"
TARGET="-t http://host.docker.internal:8080/WebGoat"
EXTRA_ARGS="-l FAIL"
SCAN_TYPE="ZAP Scan"
FORMAT=xml
MKDIR="mkdir -p /zap/wrk"
SCRIPT='$MKDIR && $BIN $PORT $TARGET $EXTRA_ARGS -x /zap/wrk/result.xml -d && cp /zap/wrk/result.xml REPORTS_DIR/$JOB_NAME.$FORMAT'
